# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
src/main/resources/assets/additionalmetals/textures/item/metal_sheet.png
src/main/resources/assets/additionalmetals/textures/item/metal_nugget.png
src/main/resources/assets/additionalmetals/textures/item/metal_ingot.png
/src/main/resources/assets/additionalmetals/textures/item/metal_axe.png
/src/main/resources/assets/additionalmetals/textures/item/metal_boots.png
/src/main/resources/assets/additionalmetals/textures/item/metal_chestplate.png
/src/main/resources/assets/additionalmetals/textures/item/metal_helmet.png
/src/main/resources/assets/additionalmetals/textures/item/metal_hoe.png
/src/main/resources/assets/additionalmetals/textures/item/metal_leggings.png
/src/main/resources/assets/additionalmetals/textures/item/metal_pickaxe.png
/src/main/resources/assets/additionalmetals/textures/item/metal_shovel.png
/src/main/resources/assets/additionalmetals/textures/item/metal_sword.png
